## ============================================================================
## Simulation parameters
## ============================================================================
FPS: 60 # Frames per second. A typical value is 60 frames per seconds
max_timestep: 200 # Maximum number of timesteps for the simulation

## ============================================================================
## World parameters
## ============================================================================
world_width: 800
world_height: 600
background_color: [255, 255, 255]

## ============================================================================
## Robot parameters
## ============================================================================
number_of_agents: 1
default_velocity: 4 # choose even number
default_angle_velocity: 4 # choose even number
save_trajectory: 1

## ============================================================================
## Controller ratios if different controllers are used for different robots
## ============================================================================
#Example: If there are 6 robots and the first three robots uses controller_1 and the last three robots uses controller_2, then the controller_ratios will be 50% and 50% of the swarm:
#controller_1 : 0.5
#controller_2 : 0.5
controller_1: 1
controller_2: 0

## ============================================================================
## Rendering
## ============================================================================
rendering: 1

## ============================================================================
## Task-specific settings
## ============================================================================
# Uncomment the settings below for specific tasks:

# Task 3.1: Single Robot Behaviors
# max_timestep: 5000
# save_trajectory: 0

# Task 3.2: Potential Field Control
# max_timestep: 3000
# save_trajectory: 1
